.btn {
    display: inline-block;
    padding: 10px 25px;
    font-family: 'Play', Arial;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;

    &:hover {
        color: @color-black;
        background-color: #ffffff;		
    }
	
	&--color-hot{
		border: 2px solid lighten(@color-hot, 5%);
		background-color: lighten(@color-hot, 5%);
		
		&:hover{
			color: #ffffff;
			border: 2px solid darken(@color-hot, 5%);
			background-color: darken(@color-hot, 5%);
		}
	}
}
