.section {
    @media (min-width: @screen-sm) { padding-bottom: 45px; }

    &__container {
        max-width: 970px;
        .container();
        .clearfix();
    }

    &__row {
        position: relative;
        .make-row();
        .clearfix();
    }

    &__title {
        display: block;
        margin: 70px 0 45px;
        text-align: center;

        @media (min-width: @screen-sm) { font-size: 44px; }

        &--icon {
            @media (min-width: @screen-sm) { margin-top: 93px; }
        }

        &--robot {
            margin-top: 65px;
            color: #ffffff;
        }        

    }	

    &__arrow {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 29px;
        background: url(../img/slider-arrow.jpg) center top no-repeat;
        .hidden-xs();
    }

    &--use { background-color: @color-gray; }
	
    &--news { 		
		background-color: @color-cold;
	}

    &--robors { background: url(../img/catalog-background.jpg) center top repeat; }
}
